<a href="https://colab.research.google.com/github/gkram002/CSC221_gkram002/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#3.1 names list

names = ["jeremy", "andrew", "gerald"]

print (names[0])
print (names[1])
print (names[2])

jeremy
andrew
gerald

In [ ]:
#3.2 greet the names list

names = ["jeremy", "andrew", "gerald"]

message = (f"Hello, {names[0].title()}")
print(message)
msg = (f"Howdy, {names[1].title()}")
print(message)
message = (f"Whats up, {names[2].title()}")
print(message)

Hello, Jeremy
Hello, Jeremy
Whats up, Gerald

In [ ]:
#3.3 transportation list
names = ["Honda Civic", "Kia Soul", "Jeep Cherokee"]

message = (f"I want a {names[0].title()}")
print(message)
message = (f"I need a {names[1].title()}")
print(message)
message = (f"My favorite car is a {names[2].title()}")
print(message)

I want a Honda Civic
I need a Kia Soul
My favorite car is a Jeep Cherokee

In [ ]:
#3.4 guest list
guests = ['the rock', 'teddy roosevelt', 'John Cena']

name = guests[0].title()
print(f"{name}, please come to my dinner.")
name = guests[1].title()
print(f"{name}, please come to my dinner.")
name = guests[2].title()
print(f"{name}, please come to my dinner.")

The Rock, please come to my dinner.
Teddy Roosevelt, please come to my dinner.
John Cena, please come to my dinner.

In [ ]:
#3.5 remove name from list and put new one in
guests = ['the rock', 'teddy roosevelt', 'John Cena']

name = guests[0].title()
print(f"{name}, please come to my dinner.")
name = guests[1].title()
print(f"{name}, please come to my dinner.")
name = guests[2].title()
print(f"{name}, please come to my dinner.")

name = guests[1].title()
print(f"\nSorry, {name} can't make it to my dinner.")
del(guests[1])
guests.insert(1, 'james hetfield')


name = guests[0].title()
print(f"\n{name}, please come to my dinner.")
name = guests[1].title()
print(f"{name}, please come to my dinner.")
name = guests[2].title()
print(f"{name}, please come to my dinner.")

The Rock, please come to my dinner.
Teddy Roosevelt, please come to my dinner.
John Cena, please come to my dinner.

Sorry, Teddy Roosevelt can't make it to my dinner.

The Rock, please come to my dinner.
James Hetfield, please come to my dinner.
John Cena, please come to my dinner.

In [ ]:
#3.6 invite more people
guests = ['the rock', 'teddy roosevelt', 'John Cena']

name = guests[0].title()
print(f"{name}, please come to my dinner.")
name = guests[1].title()
print(f"{name}, please come to my dinner.")
name = guests[2].title()
print(f"{name}, please come to my dinner.")

name = guests[1].title()
print(f"\nSorry, {name} can't make it to my dinner.")
del(guests[1])
guests.insert(1, 'james hetfield')


name = guests[0].title()
print(f"\n{name}, please come to my dinner.")
name = guests[1].title()
print(f"{name}, please come to my dinner.")
name = guests[2].title()
print(f"{name}, please come to my dinner.")


print("\n We found a bigger table we cant invite more people")
guests.insert(0, 'bob marley')
guests.insert(2, 'queen elizabeth II')
guests.append('josh allen')

name = guests[0].title()
print(f"{name}, please come to my dinner.")
name = guests[1].title()
print(f"{name}, please come to my dinner.")
name = guests[2].title()
print(f"{name}, please come to my dinner.")
name = guests[3].title()
print(f"{name}, please come to my dinner.")
name = guests[4].title()
print(f"{name}, please come to my dinner.")
name = guests[5].title()
print(f"{name}, please come to my dinner.")

The Rock, please come to my dinner.
Teddy Roosevelt, please come to my dinner.
John Cena, please come to my dinner.

Sorry, Teddy Roosevelt can't make it to my dinner.

The Rock, please come to my dinner.
James Hetfield, please come to my dinner.
John Cena, please come to my dinner.

 We found a bigger table we cant invite more people
Bob Marley, please come to my dinner.
The Rock, please come to my dinner.
Queen Elizabeth Ii, please come to my dinner.
James Hetfield, please come to my dinner.
John Cena, please come to my dinner.
Josh Allen, please come to my dinner.

In [ ]:
#3.7 shrink the guests list and list who is left and 3.9 with len
guests = ['the rock', 'teddy roosevelt', 'John Cena']

name = guests[0].title()
print(f"{name}, please come to my dinner.")
name = guests[1].title()
print(f"{name}, please come to my dinner.")
name = guests[2].title()
print(f"{name}, please come to my dinner.")

name = guests[1].title()
print(f"\nSorry, {name} can't make it to my dinner.")
del(guests[1])
guests.insert(1, 'james hetfield')


name = guests[0].title()
print(f"\n{name}, please come to my dinner.")
name = guests[1].title()
print(f"{name}, please come to my dinner.")
name = guests[2].title()
print(f"{name}, please come to my dinner.")


print("\n We found a bigger table we cant invite more people")
guests.insert(0, 'bob marley')
guests.insert(2, 'queen elizabeth II')
guests.append('josh allen')

name = guests[0].title()
print(f"{name}, please come to my dinner.")
name = guests[1].title()
print(f"{name}, please come to my dinner.")
name = guests[2].title()
print(f"{name}, please come to my dinner.")
name = guests[3].title()
print(f"{name}, please come to my dinner.")
name = guests[4].title()
print(f"{name}, please come to my dinner.")
name = guests[5].title()
print(f"{name}, please come to my dinner.")


print("\nSorry, we can only invite two people to dinner unfortunately.")
name = guests.pop()
print(f"Sorry, {name.title()} there's no room")
name = guests.pop()
print(f"Sorry, {name.title()} there's no room")
name = guests.pop()
print(f"Sorry, {name.title()} there's no room")
name = guests.pop()
print(f"Sorry, {name.title()} there's no room")


name = guests[0].title()
print(f"{name}, please come to my dinner.")
name = guests[1].title()
print(f"{name}, please come to my dinner.")

print(len(guests))
del(guests[0])
del(guests[0])
print(guests)

The Rock, please come to my dinner.
Teddy Roosevelt, please come to my dinner.
John Cena, please come to my dinner.

Sorry, Teddy Roosevelt can't make it to my dinner.

The Rock, please come to my dinner.
James Hetfield, please come to my dinner.
John Cena, please come to my dinner.

 We found a bigger table we cant invite more people
Bob Marley, please come to my dinner.
The Rock, please come to my dinner.
Queen Elizabeth Ii, please come to my dinner.
James Hetfield, please come to my dinner.
John Cena, please come to my dinner.
Josh Allen, please come to my dinner.

Sorry, we can only invite two people to dinner unfortunately.
Sorry, Josh Allen there's no room
Sorry, John Cena there's no room
Sorry, James Hetfield there's no room
Sorry, Queen Elizabeth Ii there's no room
Bob Marley, please come to my dinner.
The Rock, please come to my dinner.
2
[]

In [ ]:
#3.8 seeing the world
locations = ['Puerto Rico', 'Machu Pichu','K2', 'Australia', 'Grand Canyon']

print('the Original Order')
print(locations)

print('\n the Alphabetical Order')
print(sorted(locations))

print('\n the Original Order')
print(sorted(locations))

print('\n Reverse Alphabetical Order')
print(sorted(locations, reverse = True))

print('\n the Original Order')
print(sorted(locations))

print('\n Reversed Order')
locations.reverse()
print(locations)

print('\n the Alphabetical Order')
print(sorted(locations))

print('\n Reverse Alphabetical Order')
print(sorted(locations, reverse = True))

the Original Order
['Puerto Rico', 'Machu Pichu', 'K2', 'Australia', 'Grand Canyon']

 the Alphabetical Order
['Australia', 'Grand Canyon', 'K2', 'Machu Pichu', 'Puerto Rico']

 the Original Order
['Australia', 'Grand Canyon', 'K2', 'Machu Pichu', 'Puerto Rico']

 Reverse Alphabetical Order
['Puerto Rico', 'Machu Pichu', 'K2', 'Grand Canyon', 'Australia']

 the Original Order
['Australia', 'Grand Canyon', 'K2', 'Machu Pichu', 'Puerto Rico']

 Reversed Order
['Grand Canyon', 'Australia', 'K2', 'Machu Pichu', 'Puerto Rico']

 the Alphabetical Order
['Australia', 'Grand Canyon', 'K2', 'Machu Pichu', 'Puerto Rico']

 Reverse Alphabetical Order
['Puerto Rico', 'Machu Pichu', 'K2', 'Grand Canyon', 'Australia']

In [ ]:
#3.10 make a program using all the functions learned. I created a list of vacation spots
vacation = ['Puerto Rico', 'Australia', 'Mexico', 'Canada', 'Thailand']
print("This is the list from most expensive to cheapest for vacation spots")
print(sorted(vacation))
print("\nThis is the list from cheapest to most costly for vacation spots")
print(sorted(vacation, reverse = True))

print('\nYou asked for another location')
vacation.insert(3, 'Bahamas')
print(vacation)

print('\nYou asked for another location again')
vacation.append('Italy')
print(vacation)

print('You asked how many options have been given')
print(len(vacation))

print('You asked to remove a spot the last spot as it was too expensive')
vacation.pop()
print(vacation)

print('you asked me to remove Australia')
del(vacation[1])
print(vacation)

print(sorted(vacation))
print(len(vacation))
print("Out of the 5 options you have left I have organized from most expensive to least expensive")

This is the list from most expensive to cheapest for vacation spots
['Australia', 'Canada', 'Mexico', 'Puerto Rico', 'Thailand']

This is the list from cheapest to most costly for vacation spots
['Thailand', 'Puerto Rico', 'Mexico', 'Canada', 'Australia']

You asked for another location
['Puerto Rico', 'Australia', 'Mexico', 'Bahamas', 'Canada', 'Thailand']

You asked for another location again
['Puerto Rico', 'Australia', 'Mexico', 'Bahamas', 'Canada', 'Thailand', 'Italy']
You asked how many options have been given
7
You asked to remove a spot the last spot as it was too expensive
['Puerto Rico', 'Australia', 'Mexico', 'Bahamas', 'Canada', 'Thailand']
you asked me to remove Australia
['Puerto Rico', 'Mexico', 'Bahamas', 'Canada', 'Thailand']
['Bahamas', 'Canada', 'Mexico', 'Puerto Rico', 'Thailand']
5
Out of the 5 options you have left I have organized from most expensive to least expensive

In [88]:
#print cubes of numbers divisible by 7 between 60 and 85
for number in range(60, 85):
  if number % 7 == 0:
    cube = number ** 3
    print(f'The cube of {number}  is {cube}')

The cube of 63  is 250047
The cube of 70  is 343000
The cube of 77  is 456533
The cube of 84  is 592704

In [98]:
# solve for y= 7.4x +51

x_val = [40, 50, 120, -8, 6]
for x in x_val:
  y = 7.4 * x + 51
  print(f'When x = {x}, the y = {y}')

When x = 40, the y = 347.0
When x = 50, the y = 421.0
When x = 120, the y = 939.0
When x = -8, the y = -8.200000000000003
When x = 6, the y = 95.4