<a href="https://colab.research.google.com/github/gkram002/CSC221_gkram002/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#4.1 and 4.10 and #4.15
fav_pizza = ["pepperoni",
             "supreme", "hawaiian"]

for pizza in fav_pizza:
  print(pizza)

for pizza in fav_pizza:
  print(f"I really love{pizza} pizza!!!!")


print("\n I really love pizza!")

#4.10
print("the first three items in the list are:")
print(fav_pizza[0:3])
print("the item in the middle of the list is")
print(fav_pizza[1])
print("the item at the end of the list is")
print(fav_pizza[2])

pepperoni
supreme
hawaiian
I really love pepperoni pizza!!!!
I really love supreme pizza!!!!
I really love hawaiian pizza!!!!

 I really love pizza!
the first three items in the list are:
['pepperoni', 'supreme', 'hawaiian']
the item in the middle of the list is
supreme
the item at the end of the list is
hawaiian

In [5]:
#4.2
animals = ["dog", "leopard", "spider"]

for animal in animals:
  print(animal)


for animal in animals:
  print(f"A {animal} would make a great pet!")

print("\n I really think they would be a great pet!")

dog
leopard
spider
A dog would make a great pet!
A leopard would make a great pet!
A spider would make a great pet!

 I really think they would be a great pet!

In [6]:
#4.3
numbers = list(range(1, 21))

for num in numbers:
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#4.4
numbers = list(range(1, 1_100_001))

for num in numbers:
  print(num)

In [8]:
#4.5
numbers = list(range(1, 1_100_001))

print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
1100000
605000550000

In [10]:
#4.6
odd_num = list(range(1, 20, 2))

for num in odd_num:
  print(num)

1
3
5
7
9
11
13
15
17
19

In [11]:
#4.7
multi_three = list(range(3, 31, 3))

for num in multi_three:
  print(num)

3
6
9
12
15
18
21
24
27
30

In [12]:
#4.8
cubes = []
for num in range(1, 11):
  cube = num**3
  cubes.append(cube)

for cube in cubes:
  print(cube)

1
8
27
64
125
216
343
512
729
1000

In [13]:
#4.9
cube = [num**3 for number in range(1, 11)]
for cube in cubes:
  print(cube)

1
8
27
64
125
216
343
512
729
1000

In [24]:
#4.11 and 4.15
fav_pizza = ["pepperoni",
             "supreme", "hawaiian"]
friend_pizzas = fav_pizza[0:3]

fav_pizza.append("mushroom")
friend_pizzas.append("margarita")

print("my favorite pizzas are")
for pizza in fav_pizza:
  print(f" {pizza}")

print("my friends favorite pizzas are")
for pizza in friend_pizzas:
  print(f" {pizza}")


print("\n We really love pizza!")

my favorite pizzas are
 pepperoni
 supreme
 hawaiian
 mushroom
my friends favorite pizzas are
 pepperoni
 supreme
 hawaiian
 margarita

 I really love pizza!

In [27]:
#4.12
my_fav_food = ["ice cream cake", "sushi", "spaghetti"]
friend_food = my_fav_food[0:3]

my_fav_food.append("lasagna")
friend_food.append("grilled cheese")

print("my favorite foods are")
for food in my_fav_food:
  print(f" {food}")

print("my friends favorite foods are")
for food in friend_food:
  print(f" {food}")

my favorite foods are
 ice cream cake
 sushi
 spaghetti
 lasagna
my friends favorite foods are
 ice cream cake
 sushi
 spaghetti
 grilled cheese

In [30]:
#4.13 and 4.15
buffet_menu = ("salmon", "pizza",
               "wings", "sushi", "mashed potatoes")


print("here is the menu: ")
for item in buffet_menu:
  print(f" {item}")

buffet_menu = ("Smoked Brisket", "pizza", "wings",
               "sliders", "chicken nuggets")

print("\nwe have changed our menu")
print("here is the new menu ")
for item in buffet_menu:
  print(f" {item}")

here is the menu:
 salmon
 pizza
 wings
 sushi
 mashed potatoes

we have changed our menu
here is the new menu
 Smoked Brisket
 pizza
 wings
 sliders
 chicken nuggets

In [67]:
# function factorial(n)
def factorial(n):
    result = 1
    for x in range(1, n + 1):
        result *= x
    print(result)


factorial(5)
factorial(0)
factorial(10)
factorial(29)

120
1
3628800
8841761993739701954543616000000

In [69]:
#special factorial
def special_factorial(n):
    answer = 1
    for x in range(1, n + 1):
        if x not in (4, 13, 22):
            answer *= x
    print(answer)


special_factorial(5)
special_factorial(10)
special_factorial(25)
special_factorial(47)
special_factorial(13)

30
907200
13558750037876736000000
226069267055216941121472338420989492980067860480000000000
119750400